@media screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .left-to-right {
        justify-content: center;
        align-items: center;
    }

    main .left-to-right article {
        padding: 0px;
        border-radius: 12%;
        padding: 20px;
    }

    main .left-to-right article button {
        display: none;
    }

    main section:nth-child(2), main section:nth-child(4) {
        flex-direction: column;
    }

    main section:nth-child(2) button, main section:nth-child(4) button{
        display: none;
    }
    
    form {
        width: 100%;
        text-align: center;
    }

    section form label input, section form textarea{
        width: 70%;
    }

    /* main section:nth-child(2) article img, main section:nth-child(4) article img {
        scale: 0.8;
        position: relative;
        left: 0;
    } */
}
